@using PerfumeShop.Domain.Models
@model User
@{
    Layout = "_AdminLayout";    
    var permissions = (List<Permission>)ViewBag.Permissions;
}

<h3>Chỉnh quyền cho @Model.FullName</h3>

<form method="post">

    @foreach (var p in permissions)
    {
        <div class="form-check mb-2">
            <input class="form-check-input"
                   type="checkbox"
                   name="permissionIds"
                   value="@p.Id"
                   @(Model.UserPermissions.Any(up => up.PermissionId == p.Id) ? "checked" : "") />

            <label class="form-check-label">
                @p.Name
            </label>
        </div>
    }

    <button type="submit" class="btn btn-primary mt-3">Lưu quyền</button>
</form>
