@using PerfumeShop.Domain.Models
@model Category

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sửa loại sản phẩm";
}

<h2 class="mb-4">Sửa loại sản phẩm</h2>

<form method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label class="form-label">Tên loại</label>
        <input name="Name" class="form-control" value="@Model.Name" required />
    </div>

    <button class="btn btn-primary">Lưu</button>
    <a href="/CategoryAdmin" class="btn btn-secondary">Hủy</a>

</form>
