@using PerfumeShop.Application.Orders.User.Commands
@model CheckoutResult
@{
    Layout = "_ShopLayout";
}

<div class="text-center mt-4">
    <h3>Quét mã để thanh toán đơn hàng #@Model.OrderId</h3>
    <p>Số tiền: @Model.Amount.ToString("N0") đ</p>

    <img src="@Model.QrCode" style="width:280px; border-radius:12px;" />

    <p class="mt-3 text-muted">Vui lòng quét bằng App ngân hàng hoặc ví điện tử.</p>

    <div id="paymentStatus" class="mt-4"></div>
</div>

<script>
   
    setInterval(() => {
        fetch("/Order/CheckPaid?orderId=@Model.OrderId")
            .then(res => res.json())
            .then(data => {
                if (data.paid === true) {
                    document.getElementById("paymentStatus").innerHTML =
                        "<h4 class='text-success'>Thanh toán thành công!</h4>";

                    setTimeout(() => {
                        window.location.href = "/Order/MyOrders?success=1";

                    }, 2000);
                }
            });
    }, 2000);
</script>
