@model List<PerfumeShop.DTOs.OrderListVM>

@{
    Layout = "_ShopLayout";
}
<h2 class="mb-4">Đơn hàng của tôi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.OrderCode</td>
                <td>@o.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@o.Status</td>
                <td>@o.TotalAmount.ToString("N0") đ</td>
                <td>
                    <a href="/Order/Detail/@o.Id" class="btn btn-sm btn-primary">
                        Xem
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
