@using PerfumeShop.Application.DTOs
@model ProductCreateDto

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Thêm sản phẩm";
}

<h2 class="mb-4">Thêm sản phẩm mới</h2>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Tên sản phẩm</label>
        <input name="Name" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <textarea name="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Giá</label>
        <input name="Price" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Chọn ảnh</label>
        <input type="file" name="ImageFile" class="form-control" accept="image/*" />
    </div>

    <div class="mb-3">
        <label class="form-label">Danh mục</label>
        <select name="CategoryId" class="form-select">
            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
    </div>

    <button class="btn btn-success">Thêm</button>
    <a href="/ProductAdmin" class="btn btn-secondary">Hủy</a>
</form>
